@using FinalProject_ViewModel.ViewModels
@model HomeVm
       <!-- Hero Section Start -->
<section class="hero-section section-padding bg-cover" style="background-image: url('assets/img/dark-gradient-bg.jpg');">
    <div class="hero-1">
        <div class="container-fluid">
            <div class="row g-4">
                @foreach (var movie in Model.Movies)
                {
                    <div class="col-lg-6">
                        <div class="hero-image">
                            <img src="~/uploads/movies/@movie.Image" alt="img">
                            <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                <i class="fa-solid fa-play"></i>
                            </a>
                            @Html.Partial("_MoviePartial", movie)
                        </div>
                    </div>
                }
                
            </div>
            <div class="movie-wrapper">
                <div class="swiper movie-slider">
                    <div class="swiper-wrapper">
                        @foreach (var movie in Model.Movies)
                        {
                            <div class="swiper-slide">
                                <div class="movie-box-items">
                                    <div class="movie-image">
                                        <img src="~/uploads/movies/@movie.Image" alt="img">
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                        @Html.Partial("_MoviePartial", movie)
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="array-button">
                    <button class="array-prev"><i class="fa-solid fa-chevron-left"></i></button>
                    <button class="array-next"><i class="fa-solid fa-chevron-right"></i></button>
                </div>
                <div class="swiper-dot-3 text-center">
                    <div class="dot2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="cta-movie-banner-area section-padding">
            <div class="section-title text-center">
                <h2><img src="~/assets/img/lightning.png" alt="img">TV SHOWS</h2>
            </div>
            <div class="cta-movie-banner-items bg-cover" style="background-image: url('~/assets/img/cta-movie/movie-bg-3.jpg');">
                <div class="row g-4">
                    <div class="col-xl-4">
                        <div class="banner-movie-content">
                            <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                <i class="fa-solid fa-play"></i>
                            </a>
                            <h2>
                                Blockbuster
                                singles day out
                            </h2>
                            <p>
                                The journey from the vibrant souks and palaces of Marrakech to the tranquil, starlit sands of Merzouga showcases the diverse splendor of Morocco. Camel treks a
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="trending-movie-right-items">
                            <div class="swiper trending-movie-slider">
                                <div class="swiper-wrapper">
                                    @foreach (var show in Model.TVShows)
                                    {
                                        <div class="swiper-slide">
                                            <div class="trending-movie-thumb">
                                                <img src="~/uploads/TVShow/@show.Image" alt="img">
                                                <div class="trending-movie-content">
                                                    <span>
                                                        <i class="fa-sharp fa-regular fa-tv"></i>
                                                        4K Quality
                                                    </span>
                                                    <h3><a asp-controller="tvshow" asp-action="detail" asp-route-id="@show.Id">@show.Title</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="array-button-items">
                                <div class="array-button-2">
                                    <button class="cta-prev"><i class="fa-solid fa-chevron-left"></i></button>
                                    <button class="cta-next"><i class="fa-solid fa-chevron-right"></i></button>
                                </div>
                                <div class="movie-dot"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Movie Section Start -->
<section class="movie-section style-2 section-padding fix">
    <div class="container">
        <div class="section-title text-center">
            <h2>Original Merch from Favourite Shows</h2>
        </div>
    </div>
    <div class="swiper movie-slider-2">
        <div class="swiper-wrapper">
            @foreach (var product in Model.Products)
            {
                <div class="swiper-slide">
                    <div class="movie-box-items-2">
                        <div class="movie-image">
                            <img src="~/uploads/Product/@product.Image" alt="img">
                            <div class="number">
                                01
                            </div>
                            <div class="movie-content">
                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                    <i class="fa-solid fa-play"></i>
                                </a>
                                <ul class="post-time">
                                    <li>
                                        <i class="fa-regular fa-clock"></i>
                                        @product.CostPrice
                                    </li>
                                </ul>
                                <h3><a asp-controller="shop" asp-action="detail" asp-route-id="@product.Id">@product.Name</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="swiper-dot text-center pt-5">
            <div class="dot"></div>
        </div>
    </div>
</section>

<!-- TV Shows Section Start -->
<section class="tv-shows-section fix section-padding pt-0">
    <div class="container">
        <div class="section-title text-center">
            <h2>Browse by category</h2>
            <p>
                Watch full seasons of exclusive streaming series, current-season episodes, hit movies, tics <br> Originals, kids shows, and more.
            </p>
        </div>
        <div class="tv-shows-wrapper">
            <div class="swiper tv-shows-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="tv-shows-items">
                            <div class="tv-shows-image">
                                <img src="~/assets/img/tv-shows/01.jpeg" alt="img">
                                <div class="tv-shows-content">
                                    <p>past & current seasons</p>
                                    <h3><a asp-controller="tvshow" asp-action="index">TV Shows</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="tv-shows-items">
                            <div class="tv-shows-image">
                                <img src="~/assets/img/tv-shows/02.jpeg" alt="img">
                                <div class="tv-shows-content">
                                    <p>news & classic</p>
                                    <h3><a asp-controller="movies" asp-action="index">movies</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="tv-shows-items">
                            <div class="tv-shows-image">
                                <img src="~/assets/img/tv-shows/03.jpg" alt="img">
                                <div class="tv-shows-content">
                                    <p>ground breaking</p>
                                    <h3><a asp-controller="shop" asp-action="index">Original Merch</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="tv-shows-items">
                            <div class="tv-shows-image">
                                <img src="~/assets/img/tv-shows/04.jpg" alt="img">
                                <div class="tv-shows-content">
                                    <p>add-on</p>
                                    <h3><a asp-controller="subscribe" asp-action="index">Subscriptions</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

