@model TVShowVm
<div class="breadcrumb-wrapper bg-cover" style="background-image: url('~/~/assets/img/breadcrumb-bg.jpg');">
    <div class="container">
        <div class="page-heading">
            <div class="page-header-left">
                <h1 class="wow fadeInUp" data-wow-delay=".3s">TV shows</h1>
                <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                    <li>
                        <a asp-controller="home">
                            <i class="fa-solid fa-house"></i>
                            Home
                        </a>
                    </li>
                    <li>
                        <i class="fa-solid fa-slash-forward"></i>
                    </li>
                    <li>
                        TV shows
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- TV Shows Section Start -->
<section class="tv-shows-section fix section-padding">
    <div class="container">
        <div class="section-title text-center">
            <h2>All The TV You Love</h2>
            <p>
                Watch full seasons of exclusive streaming series, current-season episodes, hit movies, tics <br> Originals, kids shows, and more.
            </p>
        </div>
        <div class="tv-shows-wrapper">
            <div class="swiper tv-shows-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="tv-shows-items">
                            <div class="tv-shows-image">
                                <img src="~/assets/img/tv-shows/01.jpeg" style="width:330px; height:220px;" alt="img">
                                <div class="tv-shows-content">
                                    <p>past & current seasons</p>
                                    <h3><a asp-controller="tvshow" asp-action="index">TV Shows</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="tv-shows-items">
                            <div class="tv-shows-image">
                                <img src="~/assets/img/tv-shows/02.jpeg" style="width:330px; height:220px;" alt="img">
                                <div class="tv-shows-content">
                                    <p>news & classic</p>
                                    <h3><a asp-controller="movies" asp-action="index">movies</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="tv-shows-items">
                            <div class="tv-shows-image">
                                <img src="~/assets/img/tv-shows/03.jpg" style="width:330px; height:220px;" alt="img">
                                <div class="tv-shows-content">
                                    <p>ground breaking</p>
                                    <h3><a asp-controller="shop" asp-action="index">Original Merch</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="tv-shows-items">
                            <div class="tv-shows-image">
                                <img src="~/assets/img/tv-shows/04.jpg" style="width:330px; height:220px;" alt="img">
                                <div class="tv-shows-content">
                                    <p>add-on</p>
                                    <h3><a asp-controller="subscribe" asp-action="index">Subscriptions</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Trending Section Start -->
<section class="trending-section-2 section-padding fix pt-0">
    <div class="container">
        <div class="section-title-area">
            <div class="section-title style-2">
                <h2>MOST VIEWED TV SHOWS</h2>
            </div>
            <div class="array-button-2">
                <button class="cta-prev"><i class="fa-solid fa-chevron-left"></i></button>
                <button class="cta-next"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
        <div class="trending-wrapper-2">
            <div class="swiper trending-slider">
                <div class="swiper-wrapper">
                    @foreach (var show in Model.TVShows)
                    {
                        <div class="swiper-slide">
                            <div class="trending-box-items">
                                <div class="trending-image">
                                    <img src="~/uploads/TVShow/@show.Image" alt="img">
                                    <div class="icon">
                                        <i class="fa-solid fa-crown"></i>
                                    </div>
                                    <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                        <i class="fa-solid fa-play"></i>
                                    </a>
                                </div>
                                <div class="trending-content">
                                    <div class="content">
                                        <h3><a asp-controller="tvshow" asp-action="detail" asp-route-id="@show.Id">@show.Title</a></h3>
                                        @foreach (var genre in show.TVShowGenres.Select(mg => mg.Genre))
                                        {
                                            <p>@genre.Name</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Trending Section Start -->
<section class="trending-section-2 fix">
    <div class="container">
        <div class="section-title-area">
            <div class="section-title style-2">
                <h2>MOST LIKED</h2>
            </div>
            <div class="array-button-2">
                <button class="array-prev"><i class="fa-solid fa-chevron-left"></i></button>
                <button class="array-next"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
        <div class="trending-wrapper-2">
            <div class="swiper trending-slider-2">
                <div class="swiper-wrapper">
                    @foreach (var show in Model.TVShows)
                    {
                        <div class="swiper-slide">
                            <div class="trending-box-items">
                                <div class="trending-image">
                                    <img src="~/uploads/TVShow/@show.Image" alt="img">
                                    <div class="icon">
                                        <i class="fa-solid fa-crown"></i>
                                    </div>
                                    <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                        <i class="fa-solid fa-play"></i>
                                    </a>
                                </div>
                                <div class="trending-content">
                                    <div class="content">
                                        <h3><a asp-controller="tvshow" asp-action="detail" asp-route-id="@show.Id">@show.Title</a></h3>
                                        @foreach (var genre in show.TVShowGenres.Select(mg => mg.Genre))
                                        {
                                            <p>@genre.Name</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>