@model ShopVm
     <!--<< Breadcrumb Section Start >>-->
<div class="breadcrumb-wrapper bg-cover" style="background-image: url('~/assets/img/breadcrumb-bg.jpg');">
    <div class="container">
        <div class="page-heading">
            <div class="page-header-left">
                <h1 class="wow fadeInUp" data-wow-delay=".3s">Shop</h1>
                <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                    <li>
                        <a href="index.html">
                            <i class="fa-solid fa-house"></i>
                            Home
                        </a>
                    </li>
                    <li>
                        <i class="fa-solid fa-slash-forward"></i>
                    </li>
                    <li>
                        Shop
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Trending Section Start -->
<section class="trending-section-2 section-padding fix">
    <div class="container">
        <div class="section-title-area">
            <div class="section-title style-2">
                <h2>trending merch </h2>
            </div>
            <div class="array-button-2">
                <button class="cta-prev"><i class="fa-solid fa-chevron-left"></i></button>
                <button class="cta-next"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
        <div class="trending-wrapper-2">
            <div class="swiper trending-slider">
                <div class="swiper-wrapper">
                    @foreach (var product in Model.Products)
                    {
                        <div class="swiper-slide">
                            <div class="trending-box-items">
                                <div class="trending-image">
                                    <img src="~/uploads/Product/@product.Image" alt="img">
                                    <div class="icon">
                                        <i class="fa-solid fa-crown"></i>
                                    </div>
                                    <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                        <i class="fa-solid fa-play"></i>
                                    </a>
                                </div>
                                <div class="trending-content">
                                    <div class="content">
                                        <h3><a href="movie-details.html">@product.Name</a></h3>
                                        <p>@product.CostPrice $</p>
                                        <a asp-controller="basket" asp-action="add" asp-route-id="@product.Id" style="font-size: larger; color: white; " class="addBasket fa-solid fa-cart-shopping" data-toggle="tooltip" title="Add To Cart">
                                            <i class="ion-bag"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Trending Section Start -->
<section class="trending-section-2 section-padding pt-0 fix">
    <div class="container">
        <div class="section-title-area">
            <div class="section-title style-2">
                <h2>Best Products</h2>
            </div>
            <div class="array-button-2">
                <button class="array-prev"><i class="fa-solid fa-chevron-left"></i></button>
                <button class="array-next"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
        <div class="trending-wrapper-2">
            <div class="swiper trending-slider-2">
                <div class="swiper-wrapper">
                    @foreach (var product in Model.Products)
                    {
                        <div class="swiper-slide">
                            <div class="trending-box-items">
                                <div class="trending-image">
                                    <img src="~/uploads/Product/@product.Image" alt="img">
                                    <div class="icon">
                                        <i class="fa-solid fa-crown"></i>
                                    </div>
                                    <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                        <i class="fa-solid fa-play"></i>
                                    </a>
                                </div>
                                <div class="trending-content">
                                    <div class="content">
                                        <h3><a href="movie-details.html">@product.Name</a></h3>
                                        <p>@product.CostPrice $</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Trending Section Start -->
<section class="trending-section-2 section-padding fix pt-0">
    <div class="container">
        <div class="section-title-area">
            <div class="section-title style-2">
                <h2>MOVIES TRAILERS</h2>
            </div>
            <div class="array-button-2">
                <button class="cta-prev"><i class="fa-solid fa-chevron-left"></i></button>
                <button class="cta-next"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
        <div class="trending-wrapper-2">
            <div class="swiper trending-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="trending-box-items">
                            <div class="trending-image">
                                <img src="~/assets/img/trending/11.jpg" alt="img">
                                <div class="icon">
                                    <i class="fa-solid fa-crown"></i>
                                </div>
                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                    <i class="fa-solid fa-play"></i>
                                </a>
                            </div>
                            <div class="trending-content">
                                <div class="content">
                                    <h3><a href="movie-details.html">gmes of throne</a></h3>
                                    <p>Action, war, romantic</p>
                                </div>
                                <div class="star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star color-2"></i>
                                    <i class="fa-solid fa-star color-2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="trending-box-items">
                            <div class="trending-image">
                                <img src="~/assets/img/trending/12.jpg" alt="img">
                                <div class="icon">
                                    <i class="fa-solid fa-crown"></i>
                                </div>
                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                    <i class="fa-solid fa-play"></i>
                                </a>
                            </div>
                            <div class="trending-content">
                                <div class="content">
                                    <h3><a href="movie-details.html">mission impossible</a></h3>
                                    <p>Action, war, romantic</p>
                                </div>
                                <div class="star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star color-2"></i>
                                    <i class="fa-solid fa-star color-2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="trending-box-items">
                            <div class="trending-image">
                                <img src="~/assets/img/trending/09.jpg" alt="img">
                                <div class="icon">
                                    <i class="fa-solid fa-crown"></i>
                                </div>
                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                    <i class="fa-solid fa-play"></i>
                                </a>
                            </div>
                            <div class="trending-content">
                                <div class="content">
                                    <h3><a href="movie-details.html">Johnny Englishh</a></h3>
                                    <p>Action, war, romantic</p>
                                </div>
                                <div class="star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star color-2"></i>
                                    <i class="fa-solid fa-star color-2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="trending-box-items">
                            <div class="trending-image">
                                <img src="~/assets/img/trending/10.jpg" alt="img">
                                <div class="icon">
                                    <i class="fa-solid fa-crown"></i>
                                </div>
                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                    <i class="fa-solid fa-play"></i>
                                </a>
                            </div>
                            <div class="trending-content">
                                <div class="content">
                                    <h3><a href="movie-details.html">Happy Women’s day</a></h3>
                                    <p>Action, war, romantic</p>
                                </div>
                                <div class="star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star color-2"></i>
                                    <i class="fa-solid fa-star color-2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script>
                $(document).ready(function () {
            $(document).on("click", "a.addBasket", function (e) {
                e.preventDefault();
                const url = $(this).attr("href");

                fetch(url)
                   .then(res => res.text())
                   .then(html => {

                       $(".fix-area").html(html);

                       const count = (html.match(/minicart-item/g) || []).length;
                       $(".BasketItemCount").text(count);
                   });
            });
        });
    </script>
}
